{% extends "layout.html" %}
{% block body %}
  <h2>{{post.caption}}</h2>
  <p>{{post.text}}</p>
  <br/>
  <h2>Comments:</h2>
  {% for comment in comments %}
  <p>
  {{comment.username}} : 
  {% if comment.deleted is sameas true %}
  COMMENT WAS DELETED PERMANENTLY
  {% else %}
  {{comment.text}}
  {% endif %}
  </p>
  <form action="{{ url_for('put_comment', comment_id = comment.id) }}" method=post>
    <dl>
      <dd><input type=submit value=Edit>
      <dd><input type=hidden name=post_id value={{post.id}}>
    </dl>
  </form>
  <form action="{{ url_for('delete_comment', comment_id = comment.id) }}" method=post>
    <dl>
      <dd><input type=submit value=Delete>
      <dd><input type=hidden name=post_id value={{post.id}}>
    </dl>
  </form>
  {% endfor %}
  <form action="{{ url_for('post_comments') }}" method=post>
    <dl>
      <dd><input type=hidden name=post_id value="{{post.id}}">
      <dd><input type=submit value=PostComment>
    </dl>
  </form>
{% endblock %}